.navbar-item{
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "bookmania", serif;
}

.bg-body-tertiary{
    background-color: #C73032 !important;
}

.logo-nav{
    color: #FFFFFF;
    font-family: "bookmania", serif;
}

.logo-nav:hover, .navbar-item:hover{
    color: #FAF9F6;
    font-weight: bold;
    cursor: pointer;
}


